<app-login-nav></app-login-nav>

<div class="checkOutList">

   
<!--Radio group-->
<div class="alert alert-success">
    <strong>Confirm Payment</strong> 
  </div>

<p>{{selectedOrder.ProductID}}</p>

  <div class="card-body ">             
    <td><strong>Total R {{totalP}}</strong></td>
    <td>
      <div class="col">
        <td><button class="btn btn-success" id="btnConfirm" routerLink="/home">Confirm</button></td>
        
       </div>
      
    
    </td>   
   
  </div>
  

</div>

              