<form class="addAdmin-form" #addAdmin="ngForm" (ngSubmit)="onSubmit(addAdmin)">
    <input type="hidden" name="AdminID" #AdminID="ngModel" [(ngModel)] ="adminService.selectedAdmin.AdminID" >

  <div class="form-group">

    <div class="form-group col-md-10">
       <label>First Name:</label>
      <input class="form-control" name="FirstName" #FirstName="ngModel"[(ngModel)]="adminService.selectedAdmin.FirstName" placeholder="First Name" required>
      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This Field Is Required</div>
    </div>
 
    <div class="form-group col-md-10">
       <label>Last Name:</label>
       <input class="form-control" name="LastName" #LastName="ngModel"[(ngModel)]="adminService.selectedAdmin.LastName " placeholder="Last Name" required>
       <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This Field Is Required</div>
 
     </div>
 
   </div>
  <div class="form-group col-md-10">
     <label>Email:</label>
     <input type="email" class="form-control" name="Email" #Email="ngModel"[(ngModel)]="adminService.selectedAdmin.Email" placeholder="Email" required>
     <div class="validation-error" *ngIf="Email.invalid && Email.touched">Invalid Email</div>
 
     <label>Password:</label>
     <input type="password" class="form-control" name="Password" #Password="ngModel"[(ngModel)]="adminService.selectedAdmin.Password" placeholder="Password" required minlength="4"> 
     <div class="validation-error" *ngIf="Password.invalid && Password.touched">This Field Is Required And The Password Must Be More Than 4 Characters</div>
 
  </div>
 
  <div class="form-group col-md-10">
  <button [disabled] = "!addAdmin.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fas fa-save"></i> Add Admin</button>
  </div>
