<table class="table">
  <thead>
  <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
  </tr>
</thead>
<tbody>
    <tr *ngFor="let product of productService.productList">
        <td>{{product.ProductImage}}</td> 
        <td>{{product.ProductName}}</td>
      <td>{{product.Catergory}}</td>
      <td>{{product.Quantity}}</td>
      <td>R {{product.Price}}</td>
     
      <td>
          <a class="btn" (click)="showEdit(product)">
              <i class="fas fa-edit"></i>
          </a>
      </td>
      <td>
          <a class="btn text-danger" (click)="onDelete(product.ProductID)">
              <i class="fas fa-trash-alt"></i>
            </a>
        </td>
    </tr>
  </tbody>
</table>
