<form class="addProduct-form" #addProduct="ngForm" (ngSubmit)="onSubmit(addProduct)">
 <input type="hidden" name="ProductID" #ProductID="ngModel" [(ngModel)] ="productService.selectedProduct.ProductID" > 

<div class="form-group">

  <div class="form-group col-md-10">
     <label>Product Name:</label>
    <input class="form-control" name="ProductName" #ProductName="ngModel"[(ngModel)]="productService.selectedProduct.ProductName" placeholder="Product Name" required>
    <div class="validation-error" *ngIf="ProductName.invalid && ProductName.touched">This Field Is Required</div>
  </div>


 </div>
<div class="form-group col-md-10">
   <label>Quantity:</label>
   <input  class="form-control" name="Quantity" #Quantity="ngModel"[(ngModel)]="productService.selectedProduct.Quantity" placeholder="Quantity" required>
   <div class="validation-error" *ngIf="Quantity.invalid && Quantity.touched">This Field Is Required</div>

   <label>Price:</label>
   <input class="form-control" name="Price" #Price="ngModel"[(ngModel)]="productService.selectedProduct.Price" placeholder="R0.00" required> 
   <div class="validation-error" *ngIf="Price.invalid && Price.touched">This Field Is Required</div>

   <label>Product Image Url:</label>
   <input class="form-control" name="ProductImage" #ProductImage="ngModel"[(ngModel)]="productService.selectedProduct.ProductImage" placeholder="e.g http://" required> 
   <div class="validation-error" *ngIf="ProductImage.invalid && ProductImage.touched">This Field Is Required</div>

  <!-- <div class="form-group">
    <label>Product Image:</label>
    <input #file type="file" class="form-control-file" (change)="fileUpload(file)">
  </div> -->

    <!-- <input type="hidden" name="ProductImage" #ProductImage="ngModel" [(ngModel)]="product.selectedProduct.ProductImage">
   -->
    <label>Category:</label>
   <input class="form-control" name="Catergory" #Catergory="ngModel"[(ngModel)]="productService.selectedProduct.Catergory" placeholder="Catergory" required> 
   <div class="validation-error" *ngIf="Catergory.invalid && Catergory.touched">This Field Is Required</div>


</div>

<div class="form-group col-md-10">
<button [disabled] = "!addProduct.valid" type="submit" class="btn btn-lg btn-block btn-info"><i class="fas fa-save"></i> Add Product</button>
</div>
