<header >
  <div class="logo">
    <a>
      <img src="https://cdn-prd-02.pnp.co.za/sys-master/images/h42/hf7/8796170453022/onlineshopping_logo.png">
    </a>
  </div>

<div class="navList">
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" *ngIf="adminClaims"><strong>Hi {{adminClaims.FirstName}}</strong></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link btn" (click)="Logout()"><strong><i class="fas fa-sign-out-alt"></i> Logout</strong></a>
          </li>
  
        
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong> Manage Accounts</strong>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
              <a class="dropdown-item" routerLink="/driver">Manage Drivers</a>
              <a class="dropdown-item" routerLink="/supplier">Manage Suppliers</a>
              <a class="dropdown-item"  routerLink="/product">Manage Products</a>
            </div>
          </li>
       

        </ul>
     
      </div>
    
    </nav>
  </div>
</header>
<div class="AdminList">
<div style="text-align:center">
  <h2 class=" bg-white text-black"><strong>Manage Administrators</strong></h2>
</div>

<div class="row bg-secondary" >
  <div class="col-md-4">
    <app-add-admin></app-add-admin>
  </div>
  <div class="col-md-6">
      <label><strong>Administrators:</strong></label>
    <app-list-admin></app-list-admin>
  </div>
</div>
</div>


    
